* {
	text-align: center;
	font-family: "Oswald";
}

html, body {
    margin: 0;
    min-height: 100%;
}

html {
	overflow: auto;
}

body {
	background: linear-gradient(to bottom right, #94effa, #c294fa);
	position: absolute;
	top: 0px;
	left: 0px;
  bottom: 0px;
	right: 0px;
	overflow-y: auto;
	overflow-x: auto;
}

::-webkit-scrollbar {
	width: auto;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #ffffff;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.left, .right {
	flex: 1;
  display: flex;
}

.right {
  justify-content: flex-end;
}

.header {
	background-image: url("../images/marble.jpg");
	background-position: center top;
	border-radius: 50px;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	margin: 10px auto;
	width: 90%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#title {
	font-family: "Permanent Marker";
}

.button {
	background: black;
	color: white;
	border: 2px solid black;
	border-radius: 50%;
	margin: 5px;
	width : 80px;
	height: 80px;
	transition-duration: 0.2s;
  cursor: pointer;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button:hover {
	background: white;
	color: black;
}

.card {
	background: rgba(255,255,255,0.7);
  border: none;
	border-radius: 50px;
	margin: 10px auto;
	padding: 10px;
	width: 80%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#avatar {
  display: flex;
  justify-content: center;
  margin: auto;
	padding: 10px;	
  width: auto;
  height: auto;
}

.img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

#delete {
  padding: 0;
  transition-duration: 0.2s;
  cursor: pointer;
}

#delete:hover {
  background: white;
  font-size: 110%;
}

.danger {
  color: red;
}

#confirm1 {
  display: none;
}

#confirm2 {
  display: none;
}

#confirmdelete1 {
  width: 20%;
  cursor: pointer;
}

#confirmdelete2 {
  width: 20%;
  cursor: pointer;
}

.footer {
	background-image: url("../images/marble.jpg");
	background-position: center bottom;
	border-radius: 50px;
	display: flex;
	align-items: center;
	margin: 10px auto;
	width: 90%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#loggedin {
	color: rgb(153, 153, 153);
	display: inline-block;
	align-self: flex-end;
	margin: 0;
	margin-bottom: 5px;
}
