* {
	text-align: center;
	font-family: "Oswald";
}

html, body {
    margin: 0;
    min-height: 100%;
}

html {
	overflow: auto;
}

body {
	background: linear-gradient(to bottom right, #94effa, #c294fa);
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow-y: auto;
	overflow-x: auto;
}

::-webkit-scrollbar {
	width: auto;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #ffffff;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.left, .right {
	flex: 1;
  display: flex;
}

.right {
  justify-content: flex-end;
}

.header {
	background-image: url("../images/marble.jpg");
	background-position: center top;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	margin: 10px auto;
	width: 90%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#title {
	font-family: "Permanent Marker";
	margin: auto;
}

.button {
	background: black;
	color: white;
	border: 2px solid black;
	border-radius: 50%;
	margin: 5px;
	width : 80px;
	height: 80px;
	transition-duration: 0.2s;
  cursor: pointer;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button:hover {
	background: white;
	color: black;
}

.card {
	background: rgba(255,255,255,0.7);
	border: none;
	border-radius: 50px;
  display: flex;
	justify-content: center;
	margin: 10px auto;
	width: 80%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
}

.card-text {
	font-family: "Shrikhand";
}

#delete {
	color: red;
}

#confirm {
	display: none;
}

#sure {
	display: inline-block;
	align-self: center;
	margin: 0;
}

#yes {
	color: green;
}

#no {
	color: red;
}

#plus {
	margin: 10px auto;
}

.footer {
	background-image: url("../images/marble.jpg");
	background-position: center bottom;
	border-radius: 50px;
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
	width: 90%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#loggedin {
	color: rgb(153, 153, 153);
	display: inline-block;
	align-self: flex-end;
	margin: 0;
	margin-bottom: 5px;
}
