* {
	text-align: center;
	font-family: "Oswald";
}

html, body {
    margin: 0;
    min-height: 100%;
}

body {
	background: linear-gradient(to bottom right, #94effa, #c294fa);
}

.header {
	background-image: url("../images/marble.jpg");
	background-position: center top;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	margin: 10px auto;
	width: 90%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#title {
	font-family: "Permanent Marker";
}

.button {
	background: black;
	color: white;
	border: none;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	width : 80px;
	height: 80px;
	font-size: 50%;
	transition-duration: 0.2s;
  cursor: pointer;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button:hover {
	background: white;
	color: black;
	border: 2px solid black;
}

.card {
	background: rgba(255,255,255,0.7);
	border: none;
	border-radius: 50px;
	margin: 10px auto;
	width: 80%;
	transition-duration: 0.2s;
  cursor: pointer;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card:hover {
	background: white;
	font-size: 110%;
}

.card-text {
	font-family: "Shrikhand";
}

.plus {
	background: black;
	color: white;
	border: none;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	width : 80px;
	height: 80px;
	transition-duration: 0.2s;
  cursor: pointer;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.plus:hover {
	background: white;
	color: black;
	border: 2px solid black;
}

.footer {
	background-image: url("../images/marble.jpg");
	background-position: center bottom;
	border-radius: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px auto;
	width: 90%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
