html, body {
	margin: 0;
	min-height: 100%;
}

body {
	background-image: url("../images/marble.jpg");
}

.login {
	position: relative;
	bottom: 10px;
	margin: 30px auto 0;
	border-radius: 10%;
	background: linear-gradient(to bottom right, #94effa, #c294fa);
	width: 70%;
	padding: 10px ;
	padding-bottom: 20px;
	text-align: center;
	font-family: "Oswald";
	border: 3px solid black;
}

#appnamb {
	font-family: Pacifico;
	font-size: 8vw;
	margin: 0;
}

.username {
	border: 2px solid black;
	border-radius: 10px;
	width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.password {
	border: 2px solid black;
	border-radius: 10px;
	width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.loginsubmit {
	font-family: 'Francois One', sans-serif;
	border: 2px solid black;
	border-radius: 10px;
	width: 25% auto;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	margin: 5px auto;
	font-size: 100%;
	transition-duration: 0.2s;
	cursor: pointer;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.loginsubmit:hover {
	background: white;
	color: black;
}

.gotosignup {
	font-family: 'Francois One', sans-serif;
	border: 2px solid black;
	border-radius: 10px;
	width: 25% auto;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin: 5px auto;
	font-size: 100%;
	transition-duration: 0.2s;
	cursor: pointer;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.gotosignup:hover {
	background: white;
	color: black;
}
