body {
	background: #e2e1e0;
	text-align: centre;
}

.card {
	background: #fff;
	border-radius: 2px;
	align-items: center;
	margin: 10px auto;
	position: relative;
	width: 80%;
	padding: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-text {
	text-align: center;
	font-family: "Oswald";
}

.cabinet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
	height: 200px;
}