<!DOCTYPE html>
<html>

	<head>

		<title>Cabinet</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	  <link href="../static/css/cabinet.css?q=1280549780" type="text/css" rel="stylesheet">
		<link href="../static/images/favicon.ico" type = "image" rel = "icon">
		<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker|Shrikhand" rel="stylesheet">

		<script>
			function showNew_hidePlus() {
 				document.getElementById("newDiv").style.display = "block";
				document.getElementById("plus").style.display = "none";
			}
		</script>
	</head>

	<body>

<!--HEADER-->
		<div class = "header">
			<button type = "button" class = "button" onclick = "window.history.back()">
				<h1>BACK</h1>
			</button>
			<h1 id = "title">RECAB</h1>
			<form action = "{{ url_for('homepage') }}">
				<button type = "submit" class = "button">
					<h1>HOME</h1>
				</button>
			</form>
		</div>
<!--HEADER-->

<!--CABINET-->
		<div class = "card" id = "namecard">
			<h2 id = "name">{{ cabinet }}</h2>
		</div>
<!--CABINET-->

<!--ITEMS-->
		<div class = "card">
			{% for item in items %}
				<p>{{ item }}</p>
			{% endfor %}

<!--ADD ITEM-->
		<div id="newDiv">
			<form method=POST>
				NEW ITEM:<br>
				<input type="text" placeholder = "Enter New Item" class = "input" id = "new" name = "item"><br>
<!--DONE-->
				<button type = "submit" class = "button" id = "done">
					<h1>DONE</h1>
				</button>
<!--DONE-->
			</form>
		</div>
<!--ADD ITEM-->

<!--PLUS-->
			<button type = "button" class = "plus" id = "plus" onclick="showNew_hidePlus()">
				<h1>+</h1>
			</button>
<!--PLUS-->
		</div>
<!--ITEMS-->

<!--FOOTER-->
		<div class = "footer">
			<form action="{{ url_for('logout') }}">
				<button type = "submit" class = "button">
					<h1>LOG OUT</h1>
				</button>
			</form>
		</div>
<!--FOOTER-->

	</body>

</html>
