<!DOCTYPE html>
<html>

	<head>

		<title>Cabinet</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	  <link href="../static/css/cabinet.css?q=1280549780" type="text/css" rel="stylesheet">
		<link href="../static/images/favicon.ico" type = "image" rel = "icon">
		<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker|Shrikhand" rel="stylesheet">

	</head>

	<body>

<!--HEADER-->
		<div class = "header">
			<button type = "button" class = "button" onclick = "window.history.back()">
				<h1>BACK</h1>
			</button>
			<h1 id = "title">RECAB</h1>
			<form action = "{{ url_for('homepage') }}">
				<button type = "submit" class = "button">
					<h1>HOME</h1>
				</button>
			</form>
		</div>
<!--HEADER-->

<!--CABINET-->
		<div class = "card" id = "namecard">
			<h2 id = "name">Cabinet</h2>
		</div>
<!--CABINET-->

<!--ITEMS-->
		<div class = "card">
			<p>Item 1</p>
			<p>Item 2</p>
			<p>Item 3</p>
<!--PLUS-->
			<button type = "button" class = "plus">
				<h1>+</h1>
			</button>
<!--PLUS-->
		</div>
<!--ITEMS-->

<!--FOOTER-->
		<div class = "footer">
			<form action="{{ url_for('logout') }}">
				<button type = "submit" class = "button">
					<h1>LOG OUT</h1>
				</button>
			</form>
		</div>
<!--FOOTER-->

	</body>

</html>
