<!DOCTYPE html>
<html>

	<head>

		<title>Home</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="../static/css/home.css?q=1280549780" type="text/css" rel="stylesheet">
		<link href="../static/images/favicon.ico" type="image" rel="icon">
		<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker|Shrikhand" rel="stylesheet">
		<link href="https://s3.us-east-2.amazonaws.com/recab/favicons/apple-touch-icon.png" rel="apple-touch-icon" />
		<link href="https://s3.us-east-2.amazonaws.com/recab/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
		<link href="https://s3.us-east-2.amazonaws.com/recab/favicons/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167" />
		<link href="https://s3.us-east-2.amazonaws.com/recab/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
		<link href="https://s3.us-east-2.amazonaws.com/recab/favicons/icon-hires.png" rel="icon" sizes="192x192" />
		<link href="https://s3.us-east-2.amazonaws.com/recab/favicons/icon-normal.png" rel="icon" sizes="128x128" />
	</head>

	<body>

		<!--HEADER-->
		<div class = "header">
			<h1 id = "title">RECAB</h1>
		</div>
		<!--HEADER-->

		<!--SEARCH-->
		<form class = "search-container">
			<!--LEFT-->
			<div class = "left">
			</div>
			<!--LEFT-->
				<input type = "text" placeholder = "Search For A Cabinet/Item" class = "search">
			<!--RIGHT-->
			<div class = "right" id = "searchDiv">
				<button type = "submit" class = "button" id = "search">&#x1F50D;</button>
			</div>
			<!--RIGHT-->
		</form>
		<!--SEARCH-->

		<!--CABINETS-->
		{% for i in range(cabinets|length) %}
			<form method=POST>
				<input type="hidden" name="{{ cabinets[i] }}" value="{{ cabinets[i] }}">
				<button type = "submit" class = "card">
					<h2 class = "card-text">{{ cabinets[i] }}</h2>
					<img src="{{ images[i] }}" class = "img">
				</button>
			</form>
		{% endfor %}
		<!--CABINETS-->

		<!--PLUS-->
		<form action = "{{ url_for('newcabinetpage') }}" >
			<button type = "submit" class = "button" id = "plus">
					<h1>+</h1>
			</button>
		</form>
		<!--PLUS-->

		<!--FOOTER-->
		<div class = "footer">
			<!--LEFT-->
			<div class = "left">
				<!--LOGOUT-->
				<form action = "{{ url_for('logout') }}">
					<button type = "submit" class = "button">
						<h2>LOG OUT</h2>
					</button>
				</form>
				<!--LOGOUT-->
				<!--LOGGED IN AS-->
				<a href = "{{ url_for('accountpage') }}" id = "loggedin">logged in as {{ user }}</a>
				<!--LOGGED IN AS-->
			</div>
			<!--LEFT-->
			<!--RIGHT-->
			<div class = "right">
				<!--EDIT-->
			<form action="{{ url_for('homeeditpage') }}">
				<button type = "submit" class = "button">
					<h2>EDIT</h2>
				</button>
			</form>
				<!--EDIT-->
			</div>
			<!--RIGHT-->
		<!--FOOTER-->

	</body>
</html>
