<!DOCTYPE html>
<html>

	<head>

		<title>Home - Edit</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	  <link href="../static/css/home-edit.css?q=1280549780" type="text/css" rel="stylesheet">
		<link href="../static/images/favicon.ico" type="image" rel="icon">
		<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker|Shrikhand" rel="stylesheet">


	</head>

	<body>

		<!--HEADER-->
		<div class = "header">
			<!--LEFT-->
			<div class = "left">
				<!--BACK-->
				<button type = "button" class = "button" id = "back" onclick = "window.history.back()">
					<h2>BACK</h2>
				</button>
				<!--BACK-->
			</div>
			<!--LEFT-->
			<!--TITLE-->
			<h1 id = "title">RECAB</h1>
			<!--TITLE-->
			<!--RIGHT-->
			<div class = "right">
				<!--HOME-->
				<form action = "{{ url_for('homepage') }}">
					<button type = "submit" class = "button" id = "home">
						<h2>HOME</h2>
					</button>
				</form>
				<!--HOME-->
			</div>
			<!--RIGHT-->
		</div>
		<!--HEADER-->

		<!--CABINETS-->
		{% for cabinet in cabinets%}
			<form method = POST>
				<input type="hidden" name="{{ cabinet }}" value="{{ cabinet }}">
				<div class = "card">
				<!--LEFT-->
				<div class = "left">
				</div>
				<!--LEFT-->
				<h2 class = "card-text">{{ cabinet }}</h2>
				<!--RIGHT-->
				<div class = "right">
					<!--DELETE-->
					<button type = "submit" class = "button" id = "delete">
						<h2>&#9587;</h2>
					</button>
					<!--DELETE-->
				</div>
				<!--RIGHT-->
				</div>
			</form>
		{% endfor %}
		<!--CABINETS-->

		<!--PLUS-->
		<form action = "{{ url_for('homepage') }}" >
			<button type = "submit" class = "button" id = "plus">
				<h2>DONE</h2>
			</button>
		</form>
		<!--PLUS-->

		<!--FOOTER-->
		<div class = "footer">
			<!--LEFT-->
			<div class = "left">
				<!--LOGOUT-->
				<form action = "{{ url_for('logout') }}">
					<button type = "submit" class = "button">
						<h2>LOG OUT</h2>
					</button>
				</form>
				<!--LOGOUT-->
				<!--LOGGED IN AS-->
				<a href = "{{ url_for('accountpage') }}" id = "loggedin">logged in as {{ user }}</a>
				<!--LOGGED IN AS-->
			</div>
			<!--LEFT-->
			<!--RIGHT-->
			<div class = "right">
			</div>
			<!--RIGHT-->
		</div>
		<!--FOOTER-->

	</body>

</html>
