<!DOCTYPE html>
<html>
	<head>
		<link href="../static/css/login.css?q=1280549780" type="text/css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
	</head>
	<body>
		<div class='login'>
			<h1>-Recab-</h1>
			<h2>Login</h2>
			<form method=POST>
				<input type="text" name="username" id="username" placeholder="Username"><br>
				<input type="password" name="password" id="password" placeholder="Password"><br>
				<br>
				<input type="submit" name="submit" class="loginsubmit" value="Enter">
			</form>
			<br>
			<form action="{{ url_for('signup') }}">
				<input type="submit" class="gotosignup" value="Sign up for Recab!">
			<form>
		</div>
	</body>
</html>
